/* Phrase */

.letter {
    font-size: $font-medium;
    height: 65px;
    width: 65px;
    padding: 20px 1px 0 1px;
    margin-right: 2px;
    color: transparent;
    background: $color-netural-light;
    border-radius: 5px;
  }
  
  .space {
    width: 15px;
  }
  
  
  
  .show {
    @include transition(#fff, $color-keys, 1s);
    font-size: 20px;
    height: 65px;
    width: 65px;
    padding: 20px 1px 0 1px;
    margin-right: 2px;
    border-radius: 5px;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
  }
  